<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.usuariocliente">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.UsuarioCliente">
        <activity android:name=".Cliente.ClienteMenu"></activity>
        <activity android:name=".Driver.DriverMenu" />

        <receiver android:name=".Models.MyLocation" />

        <activity android:name=".Registro" />
        <activity android:name=".Driver.DriverInfo" />
        <activity android:name=".Driver.HistorialSelectedDriver" />
        <activity android:name=".Driver.DriverHistory" />
        <activity android:name=".Driver.ListaRenta" />
        <activity android:name=".Cliente.Options.e" />
        <activity android:name=".Cliente.History.HistorySelected" />
        <activity android:name=".Cliente.Home.AutoList" />
        <activity android:name=".Cliente.Home.AutoSelected" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>